@{
    ViewBag.Title = "Contáctenos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:edu2726@gmail.com">edu2726@gmail.com</a><br />
    <strong>Telefono:</strong> <a href="#">993587588</a>
</address>