@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Market MVC</h1>
    <p class="lead">Donde comprar es el placer de vivir.</p>
</div>

<div class="productSearch">

</div>

<div class="productList"></div>
<div class="pagination"></div>

@section Scripts{
    <script type="text/javascript" src="~/app/home.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.bootpag.min.js"></script>
    <script>
        $(function () {
            init();
        })
    </script>
}
