
@{
    ViewBag.Title = "Unauthorized";
}

<div>
    <h1 style="float: left;">ALTO!</h1>
    <img style="width: 70px; margin-left: 30px" src="~/Img/alto.png" />
</div>

<h3>No está autorizado para ver esta página</h3>